.root {
  & {
    color: inherit;
    cursor: pointer;
    //font-size: inherit;
    //font-weight: inherit;
    transition: .2s;
  }
}

.link-underline {
  &:hover {
    text-decoration: underline;
    color: var(--yellow-70)
  }
  text-decoration-color: var(--yellow-70)
}

.link-dark {
  text-decoration: none;
  color: var(--yellow-70);
  &:hover {
    text-decoration: underline;
  }
  text-decoration-color: var(--yellow-70)
}

.link-light {
  text-decoration: none;
  color: var(--yellow-50);
  &:hover {
    text-decoration: none;
    color: var(--yellow-70);
  }
}