.button {
  height: 32px;
  width: 72px;
  padding: 0 6px;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;

  @media (min-width: 768px) {
    display: inline-block;
  }
}

.item {
  border-radius: 8px;
  color: #FBB26A;
  font-size: 20px;
  line-height: 150%;
  &[data-hovered] {
    background-color: rgba(255, 255, 255, 0.08);
  }
}

.dropdown {
  padding: 30px;
  background: #17181C;
  border-radius: 20px;
  border: none;

  & > div :not(:last-child) {
    margin-bottom: 10px;
  }
}
