.grid-about {
  grid-area: about;
}

.grid-tshoot {
  grid-area: tshoot;
}

.grid-usage {
  grid-area: usage;
}

.root {
  display: grid;
  gap: 20px;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  grid-template-areas:
      "about"
      "tshoot"
      "usage";

  @media (min-width: 1024px) {
    gap: 30px;
    grid-template-areas:
      "about tshoot"
      "usage usage";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  padding: 20px;
  @media (min-width: 1024px) {
    padding: 30px;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.header-text {
  font-size: 22px;
  line-height: 120%;
  color: var(--gray-20)
}

.content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 15px;
}

.usage-content {
  @media (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & > div:nth-child(odd) {
      flex-basis: 52%;
      padding-right: 40px;
    }
    & > div:nth-child(even) {
      flex-basis: 48%
    }
  }
}

.link {
  color: inherit;
  padding: 4px 0;
  &:hover {
    color: var(--yellow-50)
  }
}