.content {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding: 0 15px;

  @media (min-width: 768px) {
    & {
      padding: 0 30px;
    }
  }

  @media (min-width: 1024px) {
    & {
      padding: 0 70px;
    }
  }
}

.decor {
  overflow: hidden;
  position: relative;
  transition: background-color .3s;
}

.glow-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: -400px;
  opacity: 0.5;
}

.glow {
  min-width: 1980px;
  width: 1980px;
  height: 400px;
  border-radius: 50%;
  box-shadow: 0 0 100px 0 var(--gray-20);
}

.bg-dark {
  background-color: #111217;
}

.bg-darker {
  background-color: #090B10;
}